.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.gameicon {
    border-radius:18px;
    box-shadow:0px 0px 10px 2px #888888;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: inherit;
    text-decoration: none;
    margin: 5px;
    width: 150px;
}

.gameicon:hover {
    box-shadow:0px 0px 10px 1px #000000;
}

.gameicon img {
    margin: 10px;
    border-radius: 18px;
    width:128px;
    height: 128px;
}

.tagline {
    float: right;
}

.fileInput {
    display: none
}

.fileLabel {
    cursor: pointer;
}

.error {
    color: red;
}

.success {
    color: DarkGreen;
}

.success.hidden {
    display: none;
}

.patchContainer {
    background-color: white;
}

.dragover {
    background-color: rgb(200,200,200);
}

.tooltip {
    visibility: hidden;
    font-size: 14px;
    margin-left: 6px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

.tooltip:hover, .tooltip:focus, .tooltip:active{
    visibility: visible;
}

.tooltip:before {
    visibility: visible;
    content: ' ? ';
    font-size: 20px;
    margin-right: 10px;
    background: #ddd;
    border-radius: 10px;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

h1,h2,h3{
    line-height: 1.2;
}

h1 a{
    color: inherit;
    text-decoration: inherit;
}