@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face {
  font-family: 'file';
  src:  url('file.eot?abyff3');
  src:  url('file.eot?abyff3#iefix') format('embedded-opentype'),
    url('file.ttf?abyff3') format('truetype'),
    url('file.woff?abyff3') format('woff'),
    url('file.svg?abyff3#file') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.gameicon,
.patchContainer {
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    color: inherit;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background: #fff;
}

.gameicon {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 15px;
    width: 144px;
    padding: 10px;
    justify-content: center;
}

.gameicon:hover,
.dragover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gameicon img {
    margin-bottom: 10px;
    border-radius: 2px;
    width: 128px;
    height: 128px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .24), 0 0px 1px rgba(0, 0, 0, 0.48);
    align-self: center;
    margin-top: 5px;
}

.gameicon>div>div {
    margin-top: auto;
    margin-bottom: auto;
}

.gameicon>div {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tagline {
    float: right;
}

.fileInput {
    display: none
}

.fileLabel {
    cursor: pointer;
}

.error {
    color: red;
}

.success {
    color: DarkGreen;
}

.success.hidden {
    display: none;
}

.patchContainer {
    background-color: white;
    padding: 20px;
    max-width: 650px;
    margin: 0 auto 2em;
    position: relative;
}

.tooltip {
    visibility: hidden;
    font-size: 14px;
    margin-left: 8px;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    background: grey;
    white-space: nowrap;
    cursor: pointer;
}

.tooltip:hover,
.tooltip:focus,
.tooltip:active {
    visibility: visible;
    color: white;
    border: none;
    margin-top: 0px;
    position: absolute;
    padding: 3px 16px;
    white-space: normal;
    max-width: 300px;
    z-index: 11;
}

.tooltip:before {
    visibility: visible;
    content: '?';
    font-size: 18px;
    margin-right: 8px;
    background: gray;
    border-radius: 50%;
    padding: 2px 9px;
    margin-left: -8px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.tooltip:hover:before,
.tooltip:focus:before,
.tooltip:active:before {
    color: black;
    display: none;
}

body {
    margin: 40px auto;
    max-width: 900px;
    line-height: 1.6;
    font-size: 18px;
    color: #000;
    padding: 0 10px;
    background: #e2e1e0;
    font-family: 'PT Sans', 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

h1 a {
    color: inherit;
    text-decoration: inherit;
}

button {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    position: relative;
    padding: 0 16px;
    height: 36px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 2.25rem;
    color: rgba(0, 0, 0, 0.73);
    transition-property: box-shadow, background;
    background-color: #40b31a;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.125);
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
    cursor: default;
}

button:hover:enabled {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.125);
    background-color: #5dbe3c;
}

.patches {
    margin: 1em auto;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

input[type=radio] {
    bottom: 2px;
}

.patches label {
    margin-left: 4px;
}

.dragover>* {
    filter: blur(5px);
}

.dragover::before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 10;
    outline: dashed 10px;
}

.dragover::after {
    content: "\e900";
    font-family: 'file' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    display: block;
    height: auto;
    position: absolute;
    top: calc(50% - 3rem);
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 11;
    font-size: 8rem;
}

.tooltip:not(:hover) {
    font-size: 0px;
    padding: 0;
    margin-left: 16px;
}

.tooltip {
    visibility: hidden;
    font-size: 14px;
    margin-left: 8px;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    background: gray;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}